.hidden {
    display: none;
}

#container {
    margin: 20px;
    display: grid;
    text-align: center;
}

#main-icons {
    padding-left: 100px;
    padding-top: 50px;
}

.grid {
    display: grid;
    
}

#main-header {
    margin-top: 40px;
}

#header-logo {
    
    height: 100px;
    
}

#header-nav {
    height: 70px;
    width: 570px;
    margin-top: 15px;
}

body {
    font-family: 'Elsie Swash Caps', cursive;
}

h2 {
    font-family: 'Yatra One', cursive;
    font-weight: normal;
    font-size: 55px;
    letter-spacing: 1px;
    color: black;
    padding: 15px;
    text-align: center;
    padding-top: 100px;
    margin-left: 60px;
}



p {
    padding-top: 3px;
    font-family: 'Elsie Swash Caps', cursive;
}

.content-items {
    
    width: 30%;
    flex-direction: row;
    height: 50px;
}

img:hover {
    transform: scale(1.5);
    cursor: grabbing;
}

p:hover {
    color: green;
    cursor: crosshair ;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    
}

ul li {
    display: inline-block;
    margin-right: 40px;
}

#footer-con-full {
    height: 100px;
    
}

#footer-nav {
    
    height: 70px;
    margin-top: 15px;
    
}

footer {
    bottom: 0;
    
    position: fixed;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

h3 {
    font-family: 'Yatra One', cursive;
    text-align: center;
    padding-top: 20px;
    
}

<<<<<<< Updated upstream
=======
.box-color {
    background-color: gray;
    text-align: center;
    grid-column: 1/-1;
}

>>>>>>> Stashed changes
.box-color2 {
    background-color: gray;
    text-align: center;
}

h4 {
    font-family: 'Yatra One', cursive;
    text-align: center;
    padding-top: 20px;
}
